.container-add-pratos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;

    gap: 1em;
}
.first-column-add-pratos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2em;

    width: 48%;
}
.second-column-add-pratos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 48%;
}
.title-second-column{
    font-size: 54px;
}

.prato{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: #FDFFE1 0px 0px 10px 0px;
    border-radius: 16px;
    
    padding: 1em;
    width: 692px;
    margin-bottom: 2.5em;
    
    position: relative;
    border: 1px solid #ffffff;
}
.prato:hover {
    border-color: #fff;
    box-shadow: #ffffff 0px 0px 15px 4px;
    border: 1px solid #ffffff;
    transition: 0.3s;
}


.prato .image-div{
    border-radius: 10px;

    width: 97px;
    height: 93px;
    background-color: red;
    
}

.prato img{
    border-radius: 10px;

    width: 97px;
    height: 93px;
    object-fit: cover;
}

.prato .descricao{
    width: 445px;
}

.prato p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.add_prato{
    text-align: center;
    box-shadow: #FDFFE1 0px 0px 10px 0px;
    border-radius: 16px;
    font-size: 32px;
    
    padding: 0.5em;
    width: 80%;
    margin-bottom: 1.5em;
}
.add_prato:hover {
    box-shadow: #00FF00 0px 0px 15px 4px;
    border: 1px solid #ffffff;
    transition: 0.3s;
}


/* --- Inputs e Upload --- */
.form-add-prato{

}
.div-inputs {
    display: flex;
    justify-content: space-around;
    box-shadow: #FDFFE1 0px 0px 10px 0px;
    border-radius: 16px;
    
    width: 692px;
    padding: 1em;
    gap: 1em;

}
.upload-box{
    border-radius: 10px;
    background: linear-gradient(225deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    cursor: pointer; 
    backdrop-filter: blur(1000px);
    /* Para funcionar no Safari */
    -webkit-backdrop-filter: blur(10px); 

    width: 97px;
    height: 93px;
}
.div-inputs:hover {
    border-color: #fff;
    box-shadow: #ffffff 0px 0px 10px 4px;
    /* border: 1px solid #ffffff; */
    transition: 0.3s;
}
.icon-upload {
    border-radius: 10px;

    width: 97px;
    height: 93px;
}
.div-nome-prato{
    width: 438px;
}
.div-nome-prato textarea{
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.div-preco-prato{
    width: 87px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.div-preco-prato input{
    width: 100%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Remove as setinhas (spinners) no Chrome, Safari, Edge e Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove as setinhas no Firefox */
input[type=number] {
    -moz-appearance: textfield;
}



/* Ajuste específico para quando for Textarea */
.input-neon.text-area-custom {
    /* Impede o usuário de esticar a caixa e quebrar o layout */
    resize: none; 
    /* Espaçamento entre as linhas do texto */
    line-height: 1.4;
    
}

.div-categoria-prato input{
    padding: 1em;

}
.div-categoria-prato input:hover{
    border-color: #fff;
    box-shadow: #ffffff 0px 0px 10px 4px;
    /* border: 1px solid #ffffff; */
    transition: 0.3s;
    
}


/* Estilo Neon nos Inputs */
.input-neon {
    background: transparent;
    border-radius: 16px;
    padding: 0.5em;
    color: white;
    outline: none;
    transition: 0.4s;
}
.input-neon:focus {
    border-color: #fff;
    box-shadow: 0 0 8px rgba(255,255,255,0.5);
}
.input-neon.full-width {
    width: 100%;
    /* margin-bottom: 2rem; */
}
.input-neon.small {
    width: 100px;
}

/* Botões (Limpar e Adicionar) */
.action-buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.btn-neon {
    background: transparent;
    padding: 1em;
    border-radius: 16px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    color: white;
    transition: 0.3s;
    font-size: 16px;
    /* font-weight: bold; */
    /* text-transform: uppercase; */
}

.btn-neon.red {
    border: 1px solid #FF0000;
    box-shadow: 0 0 10px #FF0000;
}
.btn-neon.red:hover {
    box-shadow: 0 0 15px red;
    background-color: rgba(139, 0, 0, 0.2);
}

.btn-neon.green {
    border: 1px solid #00FF00;
    box-shadow: 0 0 10px #00FF00;
}
.btn-neon.green:hover {
    box-shadow: 0 0 15px #00FF00;
    background-color: rgba(0, 100, 0, 0.2);
}



/* Trash */
.trash-preview-prato{
    border: 1px solid #FF0000;
    box-shadow: 0 0 10px #FF0000;

    /* background: transparent; */
    background-color: black;
    padding: 1em;
    border-radius: 12px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    color: white;
    transition: 0.3s;
    font-size: 16px;

    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%);
    width: 42px;
    height: 40px;

}
.trash-preview-prato img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 18px; */
    height: auto;
    filter: drop-shadow(0 0 2px red);
    width: 21px;
    height: 20px;
    /* object-fit: cover; */
}


.categoria-preview-prato{
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px #ffffff;
    
    background-color: black;
    padding: 0.5em;
    border-radius: 12px;
    font-family: Arial, sans-serif;
    color: white;
    transition: 0.3s;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 444px;

    /* display: none; */
}
.categoria-preview-prato p{
    font-size: 15px;
}


@media (max-width: 415px) {

}
@media (min-width: 416px) and (max-width: 600px) {

}
@media (min-width: 601px) and (max-width: 1000px) {
    
}
@media (min-width: 1000px) and (max-width: 1150px) {

}
@media (min-width: 1151px) and (max-width: 1540px) {
    
}
@media (min-width: 1540px) {

}
