.container-pratos-pedido{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    gap: 1em;
}
.prato{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: #FDFFE1 0px 0px 10px 0px;
    border-radius: 16px;
    
    padding: 1em;
    width: 692px;
    margin-bottom: 7.5em;
    
    position: relative;
    border: 1px solid #ffffff;
}
.prato:hover {
    border-color: #fff;
    box-shadow: #ffffff 0px 0px 15px 4px;
    border: 1px solid #ffffff;
    transition: 0.3s;
}


.prato .image-div{
    border-radius: 10px;

    width: 97px;
    height: 93px;
    background-color: red;
    
}

.prato img{
    border-radius: 10px;

    width: 97px;
    height: 93px;
    object-fit: cover;
}

.prato .descricao{
    width: 445px;
}

.prato p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.add_prato{
    text-align: center;
    box-shadow: #00FF00 0px 0px 10px 0px;
    border-radius: 16px;
    font-size: 32px;
    
    padding: 0.5em;
    width: 80%;
    margin-bottom: 1.5em;
}
.add_prato:hover {
    box-shadow: #00FF00 0px 0px 15px 4px;
    border: 1px solid #ffffff;
    transition: 0.3s;
}


/*========================Pedidos Prato-----------------------*/

.pedidos-pratos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;

    gap: 1em;
}

/* --- Inputs e Upload --- */
#form-add-prato div{
    margin-bottom: 2em;

}
.div-inputs {
    display: flex;
    justify-content: space-around;
    box-shadow: #FDFFE1 0px 0px 10px 0px;
    border-radius: 16px;
    
    width: 692px;
    padding: 1em;
    gap: 1em;

}
.upload-box{
    border-radius: 10px;
    background: linear-gradient(225deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    cursor: pointer; 
    backdrop-filter: blur(1000px);
    -webkit-backdrop-filter: blur(10px); 

    width: 97px;
    height: 93px;
}
.div-inputs:hover {
    border-color: #fff;
    box-shadow: #ffffff 0px 0px 10px 4px;
    transition: 0.3s;
}
.icon-upload {
    border-radius: 10px;

    width: 97px;
    height: 93px;
}
.div-nome-prato{
    width: 438px;
}
.div-nome-prato textarea{
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.div-preco-prato{
    width: 87px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.div-preco-prato input{
    width: 100%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.input-neon.text-area-custom {
    resize: none; 
    line-height: 1.4;
}

.div-info-mesa input{
    padding: 1em;
}
.div-info-mesa label{
    font-size: 32px;
}
.div-info-mesa input:hover{
    border-color: #fff;
    box-shadow: #ffffff 0px 0px 10px 4px;
    transition: 0.3s;
}

.div-info-mesa p{
    font-size: 24px;
    border-color: #fff;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: 0.3s;
    background: transparent;
    border-radius: 16px;
    padding: 0.5em;
    color: white;
    outline: none;
}

.div-info-mesa p:hover{
    border-color: #fff;
}

.input-neon {
    background: transparent;
    border-radius: 16px;
    padding: 0.5em;
    color: white;
    outline: none;
    transition: 0.4s;
}
.input-neon:focus {
    border-color: #fff;
    box-shadow: 0 0 8px rgba(255,255,255,0.5);
}
.input-neon.full-width {
    width: 100%;
}
.input-neon.small {
    width: 100px;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.btn-neon {
    background: transparent;
    padding: 1em;
    border-radius: 16px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    color: white;
    transition: 0.3s;
    font-size: 16px;
}

.btn-neon.red {
    border: 1px solid #FF0000;
    box-shadow: 0 0 10px #FF0000;
}
.btn-neon.red:hover {
    box-shadow: 0 0 15px red;
    background-color: rgba(139, 0, 0, 0.2);
}

.btn-neon.green {
    border: 1px solid #00FF00;
    box-shadow: 0 0 10px #00FF00;
}
.btn-neon.green:hover {
    box-shadow: 0 0 15px #00FF00;
    background-color: rgba(0, 100, 0, 0.2);
}

.trash-preview-prato{
    box-shadow: 0 0 2px #ffffff;
    background-color: black;
    padding: 1em;
    border-radius: 12px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    color: white;
    transition: 0.3s;
    font-size: 16px;
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%);
    width: 42px;
    height: 40px;
}
.trash-preview-prato:hover{
    border: 1px solid #FF0000;
    box-shadow: 0 0 10px #FF0000;
}
.trash-preview-prato img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    filter: drop-shadow(0 0 2px red);
    width: 21px;
    height: 20px;
}

.categoria-preview-prato{
    box-shadow: 0 0 5px #ffffff;
    background-color: black;
    padding: 0.5em;
    border-radius: 12px;
    font-family: Arial, sans-serif;
    color: white;
    transition: 0.3s;
    position: absolute;
    top: 100%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 200px;
    text-align: center;
}
.categoria-preview-prato p{
    font-size: 15px;
}

.id_prato-preview-prato{
    box-shadow: 0 0 2px #ffffff;
    background-color: black;
    padding: 0.5em;
    border-radius: 12px;
    font-family: Arial, sans-serif;
    color: white;
    transition: 0.3s;
    position: absolute;
    top: 107%;
    left: 9%;
    transform: translate(-50%, -50%);
    width: 120px;
    text-align: left;
}
.id_prato-preview-prato p{
    font-size: 15px;
}

.quantidade-preview-prato{
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px #ffffff;
    background-color: black;
    padding: 0.5em;
    border-radius: 12px;
    font-family: Arial, sans-serif;
    color: white;
    transition: 0.3s;
    position: absolute;
    top: 107%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 170px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.quantidade-preview-prato p{
    font-size: 15px;
}

.input-neon-pedidos-prato {
    background: transparent;
    border-radius: 16px;
    color: white;
    outline: none;
    transition: 0.4s;
    text-align: center;
}
.input-neon-pedidos-prato:focus {
    border-color: #fff;
    box-shadow: 0 0 10px #ffffff;
}
.input-neon-pedidos-prato.full-width {
    width: 100%;
}
.input-neon-pedidos-prato.small {
    width: 40px;
}

.data-pedido-preview-prato{
    box-shadow: 0 0 2px #ffffff;
    background-color: black;
    padding: 0.5em;
    border-radius: 12px;
    font-family: Arial, sans-serif;
    color: white;
    transition: 0.3s;
    position: absolute;
    top: 150%;
    left: 23%;
    transform: translate(-50%, -50%);
    width: 310px;
    text-align: center;
}
.data-pedido-preview-prato p{
    font-size: 15px;
}

.obs-preview-prato{
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px #ffffff;
    background-color: black;
    padding: 0.5em;
    border-radius: 12px;
    font-family: Arial, sans-serif;
    color: white;
    transition: 0.3s;
    position: absolute;
    top: 150%;
    left: 73%;
    transform: translate(-50%, -50%);
    width: 300px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.obs-preview-prato p{
    font-size: 15px;
}

.input-neon-obs-pedidos-prato {
    background: transparent;
    border-radius: 16px;
    color: white;
    outline: none;
    transition: 0.4s;
    text-align: center;
}
.input-neon-obs-pedidos-prato:focus {
    border-color: #fff;
    box-shadow: 0 0 10px #ffffff;
}
.input-neon-obs-pedidos-prato.full-width {
    width: 100%;
}
.input-neon-obs-pedidos-prato.small {
    width: 200px;
}

.title-center{
    text-align: center;
    font-size: 52px;
    padding: 0.5em;
    width: 80%;
}

.container-info-mesa{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
}

.container-mesa{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 750px;
}
.mesa{
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
    position: relative;
}
.mesa img{
    width: 100%;
}
.mesa p{
    font-size: 300%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    text-align: center;
}

.container-mesa-direito{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 750px;
}
.container-mesa-direito img{
    width: 70%;
    margin-bottom: 2em;
    cursor: pointer;
}

@media (max-width: 415px) {
  .mesa{
    width: 150px;
  }
  .mesa p{
    font-size: 28px;
  }
}
@media (min-width: 416px) and (max-width: 600px) {
  .mesa{
    width: 200px;
  }
  .mesa p{
    font-size: 250%;
  }
}
@media (min-width: 601px) and (max-width: 1000px) {
  .mesa{
    width: 200px;
  }
  .mesa p{
    font-size: 200%;
  }
}
@media (min-width: 1000px) and (max-width: 1150px) {
  .mesa{
    width: 250px;
  }
  .mesa p{
    font-size: 250%;
  }
}
@media (min-width: 1151px) and (max-width: 1540px) {
  .mesa{
    width: 40%;
  }   
}
@media (min-width: 1540px) {
  .mesa{
    width: 350px;
  }   
}
