body {
    color: #ffffff;
    margin: 0;
    padding: 0;
  }
  #menu-cards{
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; 
  }
  nav{
    margin: 0;
    padding: 0;
  }
  .menu-card{
    align-items: center;   
  }
  .menu-card a img{
    width: 100%;
    
  }
  #menu-card1{
    width: 16.5%;
  }
  #menu-card2{
    width: 17.5%;
  }
  #menu-card3{
    width: 18%;
  }
  #menu-card4{
    width: 17.5%;
  }
  #menu-card5{
    width: 16.5%;
  }