<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Matrix</title>
    
    
    <link rel="icon" href="#" type="image/jpg">


    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <!-- Styles -->
    <link rel="stylesheet" href="/src/styles/reset.css">
    <link rel="stylesheet" href="/src/styles/style.css">
    <link rel="stylesheet" href="/src/styles/styleNav.css">
    <link rel="stylesheet" href="/src/styles/styleDashboard.css">
    <title>Dashboard</title>

</head>
<body>
    
    <header class="header">
      <nav class="navbar fixed-top navbar-expand-lg ">
        <div class="container-fluid  gap-2">
          <button class="navbar-toggler navbar-toggler-custom order-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" ></span>
          </button>
          <a class="navbar-brand order-2 mx-auto" href="/dashboard">
            <img src="src/img/icons/logoBaratieSemFundo.png" class="logo" width="100%" height="" margin-left="0" alt="LOGO - MATRIX">
          </a>
          
          <div class="navbar-brand order-4 dropdown">
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="avatarDropdown">
              <li><a class="dropdown-item" id="color-picker" href="#"><a href="#"><%= user %></a></a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" id="color-picker" href="#"><a href="#">Logout</a></a></li>
              <!-- <li><hr class="dropdown-divider"></li> -->
              <li><a class="dropdown-item" id="color-picker" href="#"><a href="#">SignUp</a></a></li>
            </ul>
            <a href="#" class="nav-link dropdown-toggle" id="avatarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon_menu-person" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>
            </a>
          </div>
          
          <!-- <a class="navbar-brand order-5 disabled" id="color-picker" href="#">
            <svg xmlns="http://w3.org/2000/svg" class="icon_menu-cart" width="22" height="22" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
          </a> -->
          <div class="collapse navbar-collapse order-3" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" id="color-picker" href="#">Extrato</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="color-picker" href="pratos.html">Pratos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="color-picker" href="pedidos.html">Pedidos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="color-picker" href="mesas.html">Mesas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="color-picker" href="#">Outros</a>
                </li>
            </div>
            <!-- <form class="d-flex mr-left ms-2" role="search" id="barra-de-pesquisa">
              <input class="form-control me-2 col-12" id="color-input-picker" type="search" placeholder="Pesquisar" aria-label="Search">
              <button class="btn btn-outline-success" id="color-button-picker" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
              </button>
            </form> -->
          </div>
        </div>
      </nav>
    </header>
    <main>
      <hr>
      <div id="menu-cards">
        <div class="menu-card" id="menu-card1">
          <a href="">
            <img src="src/img/BaratieImagens/MyValorantCardGil-Zoro.png" alt="Extrato">
          </a>
        </div>
        <div class="menu-card" id="menu-card2">
          <a href="pratos.html">
            <img src="src/img/BaratieImagens/MyValorantCardGil-Nami.png" alt="Pratos">
          </a>
        </div>
        <div class="menu-card" id="menu-card3">
          <a href="">
            <img src="src/img/BaratieImagens/MyValorantCardGil-Luffy.png" alt="Pedidos">
          </a>
        </div>
        <div class="menu-card" id="menu-card4">
          <a href="mesas.html">
            <img src="src/img/BaratieImagens/MyValorantCardGil-Sanji.png" alt="Mesas">
          </a>
        </div>
        <div class="menu-card" id="menu-card5">
          <a href="">
            <img src="src/img/BaratieImagens/MyValorantCardGil-Shanks.png" alt="Outros">
          </a>
        </div>
      </div>
      
    

      



      
      
    </main>
    




    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  </body>
</html>